<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Initiative: EAU</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
<body>
  <header id="header">
    <div style="display: inline-block;" class="container">
      <img src="http://i.imgur.com/Zo1tIZN.jpg" width="100%" />
      <div style="position: absolute; top:100px; text-align:center; float:center; color:white;  font-family: proxima-nova, sans-serif; font-style: normal; font-weight: 100;">
        <p>INTERFACE</p>
        <p>live water quality information</p>
      </div>
      <div style="position: fixed; top:10px;" class="main">
        <span> 
          <a href="https://www.initiativeeau.org/"> 
            <img width="15%" src="http://i.imgur.com/2Og9s0P.png" alt="Initiative: EAU"> 
          </a> 
        </span>
        <span style="display: inline-block; float:right;"> 
          <a href="https://www.initiativeeau.org/about-us/" style="font-size: 15px; color: rgb(255,255,255); text-decoration: none; padding: 15px;">ABOUT US</a> 
          <a href="https://www.initiativeeau.org/our-work/" style="font-size: 15px; color: rgb(255,255,255); text-decoration: none; padding: 15px;">OUR WORK</a> 
          <a href="https://www.initiativeeau.org/get-involved/" style="font-size: 15px; color: rgb(255,255,255); text-decoration: none; padding: 15px;">GET INVOLVED</a> 
          <a href="https://www.initiativeeau.org/donate/" style="font-size: 15px; color: rgb(255,255,255); text-decoration: none; padding: 15px;">DONATE</a> 
          <a href="https://www.initiativeeau.org/news/" style="font-size: 15px; color: rgb(255,255,255); text-decoration: none; padding: 15px;">NEWS</a> 
        </span>
        <div id="clear"></div>
      </div>
    </div>
  </header>
  <div style="text-align:center; float: center;">
    <h1>Water Sources -- Fada-Ngourma</h1>
    <dev style="float:center; align-text:center; margin:auto">{{ fullmap.html }}</dev>
   </div>
  <div style="width: 80%; margin: auto; word-wrap: break-word; margin-bottom:50px;">
    <div style="float: left; width: 50%; word-wrap: break-word; margin-bottom:50px;">
      <h1>USING THE INTERFACE:</h1>
      <p>Access our most up-to-date water quality data for our monitored sources by navigating through the map interface above. Click on individual water points to access collected data for that source.</p>
      <p>We currently monitor water quality in the cities of Ouagadougou and Fada N'Gourma, Burkina Faso. Contact us to express interest in expanding the program to a city of interest.</p>
    </div>
    <div style="float: right; width: 50%; word-wrap: break-word; margin-bottom:50px;">
      <h1>DATA FORMAT:</h1>
      <ul>
        <li>GPS Coordinates</li>
        <li>Water Point Type</li>
        <li>Water Quality Index Value</li>
        <li>Water Quality Grade</li>
        <li>Most Recent Test</li>
      </ul>
    </div>
  </div>
  <div style="text-align:center; float: center; clear: both; margin: auto; background-color:black; color: rgb(255,255,255);">
    <div style="text-align:center; float: center; clear: both; margin: auto; background-color:black; color: rgb(255,255,255);">
      <div style="display:inline-block; width: 20%; text-align:left;">
        <p><strong style="color: rgb(255,255,255);">get to know us</strong>
          <br>
          <a href="https://www.initiativeeau.org/about-us/" style="color: rgb(255,255,255);">about us</a>
          <br>
          <a href="https://www.initiativeeau.org/our-work/" style="color: rgb(255,255,255);">our work</a>
          <br>
          <a href="https://www.initiativeeau.org/get-involved/#subscribe" style="color: rgb(255,255,255);">subscribe</a>
        </p>
      </div>
      <div style="display:inline-block; width: 20%; text-align:left;">
        <p>
          <strong style="color: rgb(255,255,255)">get involved</strong>
          <br>
          <a href="https://www.initiativeeau.org/get-involved/#events" style="color: rgb(255,255,255);">events</a>
          <br>
          <a href="https://www.initiativeeau.org/get-involved/#join-our-team" style="color: rgb(255,255,255);">join our team</a>
          <br>
          <a href="https://www.initiativeeau.org/donate/" style="color: rgb(255,255,255);">donate</a>
        </p>
      </div>
      <div style="display:inline-block; width: 20%; text-align:left;">
        <p>
          <strong style="color: rgb(255,255,255)">resources</strong>
          <br>
          <a href="https://www.initiativeeau.org/brand-assets/" style="color: rgb(255,255,255);">brand assets</a>
          <br>
          <a href="https://www.initiativeeau.org/about-us/#our-financials" style="color: rgb(255,255,255);">financials</a>
          <br>
          <a href="https://www.initiativeeau.org/shop/" style="color: rgb(255,255,255);">shop</a>
        </p>
      </div>
      <div style="display:inline-block; width: 20%; text-align:left;">
        <p>
          <strong style="color: rgb(255,255,255)">connect</strong>
          <br>
          <a href="https://www.initiativeeau.org/about-us/#contact-us" style="color: rgb(255,255,255);">contact us</a>
          <br>
          <a href="https://www.initiativeeau.org/request-a-speaker/" style="color: rgb(255,255,255);">request a speaker</a>
          <br>
          <a href="https://www.initiativeeau.org/news/" style="color: rgb(255,255,255);">news</a>
        </p>
      </div>
    </div>
    <div style="text-align:center; float: center; margin: auto;">
      <a><img width="100%" src=http://i.imgur.com/bqyWmjW.png></a>
    </div>
    <div style="text-align:center; float: center; margin: auto; background-color:black;">
      <p style="color: rgb(255,255,255);">Initiative: EAU is a 501(c)3 | © 2013-2017 |
        <span style="color: rgb(255,255,255);"> 
      <a style="color: rgb(255,255,255);" href="https://www.initiativeeau.org/privacy-policy/">privacy policy</a> 
      <text style="color: rgb(255,255,255);"> | </text> 
      <a style="color: rgb(255,255,255);" href="https://www.initiativeeau.org/terms-of-use/">terms of use</a> 
      <text style="color: rgb(255,255,255);"> | </text> 
      <a style="color: rgb(255,255,255);" href="https://www.initiativeeau.org/internal/">intranet</a> 
    </span>
      </p>
    </div>
  </div>
</body>
</html>
