<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Initiative: EAU</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
        <header id="header" class="sqs-announcement-bar-dropzone" style="background-color: transparent;">
		<div class="title-nav-wrapper">
			<h1 data-content-field="site-title" class="site-title">
				<a href="https://www.initiativeeau.org/" id="top">
					<img src="WASHMobile/Images/Initiative Eau Banner (Black Text).png">
				</a>
			</h1>
                        <h2>Water Sources -- Fada-Ngourma</h2>
                        {{ fullmap.html }}
                </div>
        </header>
    </body>
</html>
