<!DOCTYPE html>
<html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Initiative: EAU</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
        <header id="header">
		<div style="display: inline;">
			<img src="http://i.imgur.com/LMNSalK.jpg" width="100%" />
			<h1 style="position: absolute; top: 0px;;" class="main">
				<span>
					<a href="https://www.initiativeeau.org/" id="top">
					<img width="15%" src="http://i1380.photobucket.com/albums/ah164/initiativeEAU/Initiative%20Eau%20Banner%20Black%20Text_zps34j5qxxu.png" alt="Initative: EAU"</a>
				</span>
				<span class="other">
					<a href="https://www.initiativeeau.org/about-us/">ABOUT US</a>
					<a href="https://www.initiativeeau.org/our-work/">OUR WORK</a>
					<a href="https://www.initiativeeau.org/get-involved/">GET INVOLVED</a>
					<a href="https://www.initiativeeau.org/donate/">DONATE</a>
					<a href="https://www.initiativeeau.org/news/">NEWS</a>
				</span>
			</h1>
		</div>
		<div id="banner-wrapper">
			<div class="banner-image" style="overflow;hidden">
				<img src="http://i.imgur.com/LMNSalK.jpg" width="100%"></a>
			</div>
			<div class="banner-title-text">
			</div>
		</div>
	</header>
	<div>
                <h1>Water Sources -- Fada-Ngourma</h1>
                {{ fullmap.html }}
	</div>
    </body>
</html>
