<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Initiative: EAU</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
	<header>
		<div class="container">
			<div style="display: inline";
				<img src="Images/IMG_4975.png" width="100%" height="68" />
				<h1><a href="https://www.initiativeeau.org/">INITIATIVE: EAU</a>
				<a href="https://www.initiativeeau.org/about-us/">ABOUT US</a>
                                <a href="https://www.initiativeeau.org/our-work/">OUR WORK</a>
                                <a href="https://www.initiativeeau.org/get-involved/">GET INVOLVED</a>
                                <a href="https://www.initiativeeau.org/donate/">DONATE</a>
                                <a href="https://www.initiativeeau.org/news/">NEWS</a>
				</h1>
			</div>
			<h2>Water Sources -- Fada-Ngourma</h2>
        		{{ fullmap.html }}
		</div>
	</header>
    </body>
</html>

