<!DOCTYPE html>
    <html>
    <head>
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <title>Initiative: EAU</title>
            <link rel="stylesheet" href="">
            {{fullmap.js}}
    </head>
    <body>
	<header>
		<div class="container">
        		<h1>WASHMobile Live</h1>
			<h1><a href="https://www.initiativeeau.org/">Initiative: EAU</a><a href="https://www.initiativeeau.org/about-us/">About Us</a></h1>
        		<h2>Water Sources -- Fada-Ngourma</h2>
        		{{ fullmap.html }}
		</div>
	</header>
    </body>
</html>

